<div class="mainheader" fxLayout="column">
    <div style="width: 80%;">
        <div style="width: 100%; margin-top: 2%;">
            <span style="color:gray;" routerLink="/dashboard/getallbook">Home/</span><span> Books(16) </span>
        </div>
        <div class="header">
            <div class="Books">
                <div class="smallimages">
                    <div class="small1">
                        <img class="img1" src="../../../assets/Bookimg/book1.png" alt="">
                    </div>
                    <div class="small2">
                        <img class="img2" src="../../../assets/Bookimg/small book.png" alt="">
                    </div>
                </div>
            </div>
            <div class="maincontent" fxLayout="column" fxLayoutAlign="none center">
                <div class="image" fxLayoutAlign="center center">
                    <img src="../../../assets/Bookimg/book1.png" alt="bookImage">
                </div>

                <button class="btn">ADD TO BAG</button>
                <button class="btn2">
                    <mat-icon id="fav-icons">favorite</mat-icon>WHISH LIST
                </button>

            </div>
            <div class="bookdetails">
                <div class="bookname">
                    {{Book?.bookName}}
                </div>
                <div class="author">
                    by {{Book?.author}}
                </div>
                <div class="rating" fxLayoutAlign="space-evenly center">
                    4.5<img class="Star" src="../../../assets/Bookimg/star_outline_white_24dp (1).svg" alt="">
                </div>
                <p id="count">(20)</p>
                <div class="quantity">
                    {{Book?.bookCount}}
                </div>

                <div class="price" fxLayout="row">
                    <div class="discountprice">
                        Rs. {{Book?.discountPrice}}
                    </div>
                    <div class="originalprice">
                        <del> Rs.{{Book?.price}} </del>
                    </div>
                </div>
                <div class="para">
                    <span class="booktitle">Book Detail</span>
                    <p class="bookparagraph">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                        id
                        est laborum.
                    </p>
                </div>
                <div class="feedback">
                    <p>Customer Feedback</p>
                </div>

                <div class="overallrating">
                    <div class="rate-para">
                        <p class="ratename">Overall Rating</p>
                        <div>
                            <div class="rate">

                                <input type="radio" id="star5" name="rate" [(ngModel)]="value" value="5" />
                                <label for="star5" title="Extremely Good">5 stars</label>
                                <input type="radio" id="star4" name="rate" [(ngModel)]="value" value="4" />
                                <label for="star4" title="Very Good">4 stars</label>
                                <input type="radio" id="star3" name="rate" [(ngModel)]="value" value="3" />
                                <label for="star3" title="Good">3 stars</label>
                                <input type="radio" id="star2" name="rate" [(ngModel)]="value" value="2" />
                                <label for="star2" title="Not Bad">2 stars</label>
                                <input type="radio" id="star1" name="rate" [(ngModel)]="value" value="1" />
                                <label for="star1" title="Bad">1 star</label>
                            </div>
                        </div>

                    </div>
                    <div>
                        <input class="review" [(ngModel)]="feedback" type="text" placeholder="Write your review">
                    </div>
                    <div fxLayoutAlign="end center">
                        <button class="submitbutton" mat-flat-button color="primary"
                            (click)="addFeedback()">Submit</button>
                    </div>


                    <div style="display: flex; flex-direction: column-reverse;">
                        <div class="feedback-box"   fxLayoutGap ="20px"  *ngFor="let feedback of booksArray">
                            <div class="user"   >
                                <span class="user-feedback"> <b>User:</b> {{(feedback.user_id.fullName)}}</span>
                            </div>
                            <div>
                                <span class="user-rating"> <b>Rating:</b> {{feedback.rating}} </span>
                            </div>
                            <div>
                                <span class="user-comment"><b>Comment:</b>  {{feedback.comment}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>